body {
    font-family: monospace;
}

.button {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background-color: #8f9091; /* Button color */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
 }

 .button:hover {
    background-color: #c0c1c1; /* Lighter color on hover */
 }

 table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th,td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: fit-content;
}

th {
    background-color: #f2f2f2;
}