.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    flex-grow: 1; /* Allow this container to grow */
}

button {
    background-color: #3BB267; /* Button color */
    color: white; /* Text color */
}

button:hover {
    background-color: #92c0a3; /* Darker color on hover */
}