<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/all.css">
    <script src="./scripts/fun.js"></script>
    <title>Portal Utility Reporting</title>
</head>
<body>
    <p id="random"></p>
    <div class="container">
        <h1>Selamat datang di portal utility reporting DG!</h1>
        <a href="/mandoloqr" class="button">Mandolo disini</a>
        <a href="/mandoloip" class="button">Mandolo ip</a>
        <a href="/ceefwaf" class="button">Ceef disini</a>
        <a href="/stormwall" class="button">Stormwall disini</a>
        <a href="/network" class="button">Network disini</a>
    </div>
    <img id="ship" src="./uploads/kapalSakti.png" alt="njir gambarnya ilang">
    <footer>
        <p>Made from scratch by 2 friends and 1 GPT</p>
    </footer>
</body>
</html>

<script>
    randombs();
</script>