<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./styles/mandoloip.css">
   <link rel="stylesheet" href="./styles/all.css">
   <title>Mandolo IP autoformat v1.0</title>
</head>
<body>
   <h1 style="color: #007BFF;">Mandolo IP autoformat v1.0-dev</h1>
   
   <form action="/mandoloip" method="POST">
      <textarea style="height: 80vh; width: 60vw;" name="text" rows="150" cols="50" placeholder="enter IP list"><%= formattedText %></textarea>
      <br>
      <button type="submit">Format</button>
   </form>
</body>
</html>
